<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FilterColors</key>
		<array>
			<string>255,255,0,1</string>
			<string>255,0,255,1</string>
			<string>0,255,255,1</string>
			<string>255,255,255,1</string>
		</array>
		<key>BaseFilters</key>
		<array>
			<string>lut_1.png</string>
			<string>lut_3.png</string>
		</array>
		<key>isAdFree</key>
		<true/>
		<key>StoreImage</key>
		<array>
			<string>camera_show_1_1</string>
			<string>camera_show_1_3</string>
			<string>camera_show_1_4</string>
			<string>camera_show_1_2</string>
			<string>camera_show_1_5</string>
		</array>
		<key>StoreCell</key>
		<string>camera_banner_1</string>
		<key>Icon</key>
		<string>camera_cover_1</string>
		<key>Scale</key>
		<string>0.9</string>
		<key>Textures</key>
		<array>
			<string>H1.jpg</string>
			<string>H3.jpg</string>
			<string>H4.jpg</string>
			<string>H8.jpg</string>
			<string>H15.jpg</string>
		</array>
		<key>Filters</key>
		<array>
			<string>lut_1.png</string>
			<string>F1.acv</string>
			<string>FWValenciaFilter</string>
			<string>F11.acv</string>
		</array>
		<key>Bonders</key>
		<array/>
		<key>BlendMode</key>
		<array>
			<string>GPUImageChromaKeyBlendFilter</string>
			<string>GPUImageColorDodgeBlendFilter</string>
			<string>GPUImageDissolveBlendFilter</string>
			<string>GPUImageHueBlendFilter</string>
		</array>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
		<key>Name</key>
		<string>Default</string>
		<key>Path</key>
		<string></string>
		<key>isPurchase</key>
		<true/>
		<key>ProductCode</key>
		<string></string>
	</dict>
	<dict>
		<key>FilterColors</key>
		<array>
			<string>255,255,0,1</string>
			<string>255,0,255,1</string>
			<string>0,255,255,1</string>
			<string>255,255,255,1</string>
		</array>
		<key>BaseFilters</key>
		<array>
			<string>FWValenciaFilter</string>
			<string>FW1977Filter</string>
		</array>
		<key>isAdFree</key>
		<true/>
		<key>StoreImage</key>
		<array>
			<string>camera_show_1_1</string>
			<string>camera_show_1_2</string>
			<string>camera_show_1_3</string>
			<string>camera_show_1_4</string>
			<string>camera_show_1_5</string>
		</array>
		<key>StoreCell</key>
		<string>camera_banner_2</string>
		<key>Icon</key>
		<string>camera_cover_2</string>
		<key>Scale</key>
		<string>0.5</string>
		<key>Textures</key>
		<array>
			<string>H1.jpg</string>
			<string>H3.jpg</string>
			<string>H4.jpg</string>
			<string>H8.jpg</string>
			<string>H15.jpg</string>
		</array>
		<key>Filters</key>
		<array>
			<string>FW1977Filter</string>
			<string>F1.acv</string>
			<string>FWAmaroFilter</string>
			<string>FWValenciaFilter</string>
			<string>F11.acv</string>
		</array>
		<key>Bonders</key>
		<array>
			<string>bonder_1</string>
			<string>bonder_2</string>
		</array>
		<key>BlendMode</key>
		<array>
			<string>GPUImageColorBurnBlendFilter</string>
			<string>GPUImageChromaKeyBlendFilter</string>
			<string>GPUImageColorDodgeBlendFilter</string>
			<string>GPUImageDissolveBlendFilter</string>
			<string>GPUImageHueBlendFilter</string>
		</array>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
		<key>Name</key>
		<string>Kodak</string>
		<key>Path</key>
		<string>Skins/Kodak</string>
		<key>isPurchase</key>
		<false/>
		<key>ProductCode</key>
		<string>com.appstudio.X2.1</string>
	</dict>
	<dict>
		<key>FilterColors</key>
		<array>
			<string>255,255,0,1</string>
			<string>255,0,255,1</string>
			<string>0,255,255,1</string>
			<string>255,255,255,1</string>
		</array>
		<key>BaseFilters</key>
		<array>
			<string>FWValenciaFilter</string>
			<string>FW1977Filter</string>
		</array>
		<key>isAdFree</key>
		<false/>
		<key>StoreImage</key>
		<array>
			<string>camera_show_1_1</string>
			<string>camera_show_1_2</string>
			<string>camera_show_1_3</string>
			<string>camera_show_1_4</string>
			<string>camera_show_1_5</string>
		</array>
		<key>StoreCell</key>
		<string>camera_banner_3</string>
		<key>Icon</key>
		<string>camera_cover_3</string>
		<key>Scale</key>
		<string>0.9</string>
		<key>Textures</key>
		<array>
			<string>H1.jpg</string>
			<string>H3.jpg</string>
			<string>H4.jpg</string>
			<string>H8.jpg</string>
			<string>H15.jpg</string>
		</array>
		<key>Filters</key>
		<array>
			<string>FW1977Filter</string>
			<string>F1.acv</string>
			<string>FWAmaroFilter</string>
			<string>FWValenciaFilter</string>
			<string>F11.acv</string>
		</array>
		<key>Bonders</key>
		<array>
			<string>bonder_1</string>
			<string>bonder_2</string>
		</array>
		<key>BlendMode</key>
		<array>
			<string>GPUImageColorBurnBlendFilter</string>
			<string>GPUImageChromaKeyBlendFilter</string>
			<string>GPUImageColorDodgeBlendFilter</string>
			<string>GPUImageDissolveBlendFilter</string>
			<string>GPUImageHueBlendFilter</string>
		</array>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
		<key>Name</key>
		<string>Lomo</string>
		<key>Path</key>
		<string>Skins/Lomo</string>
		<key>isPurchase</key>
		<false/>
		<key>ProductCode</key>
		<string>com.appstudio.X2.2</string>
	</dict>
	<dict>
		<key>FilterColors</key>
		<array>
			<string>255,255,0,1</string>
			<string>255,0,255,1</string>
			<string>0,255,255,1</string>
			<string>255,255,255,1</string>
		</array>
		<key>BaseFilters</key>
		<array>
			<string>FWValenciaFilter</string>
			<string>FW1977Filter</string>
		</array>
		<key>isAdFree</key>
		<false/>
		<key>StoreImage</key>
		<array>
			<string>camera_show_1_1</string>
			<string>camera_show_1_2</string>
			<string>camera_show_1_3</string>
			<string>camera_show_1_4</string>
			<string>camera_show_1_5</string>
		</array>
		<key>StoreCell</key>
		<string>camera_banner_3</string>
		<key>Icon</key>
		<string>camera_cover_4</string>
		<key>Scale</key>
		<string>0.9</string>
		<key>Textures</key>
		<array>
			<string>H1.jpg</string>
			<string>H3.jpg</string>
			<string>H4.jpg</string>
			<string>H8.jpg</string>
			<string>H15.jpg</string>
		</array>
		<key>Filters</key>
		<array>
			<string>FW1977Filter</string>
			<string>F1.acv</string>
			<string>FWAmaroFilter</string>
			<string>FWValenciaFilter</string>
			<string>F11.acv</string>
		</array>
		<key>Bonders</key>
		<array>
			<string>bonder_1</string>
			<string>bonder_2</string>
		</array>
		<key>BlendMode</key>
		<array>
			<string>GPUImageColorBurnBlendFilter</string>
			<string>GPUImageChromaKeyBlendFilter</string>
			<string>GPUImageColorDodgeBlendFilter</string>
			<string>GPUImageDissolveBlendFilter</string>
			<string>GPUImageHueBlendFilter</string>
		</array>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
		<key>Name</key>
		<string>Lomo</string>
		<key>Path</key>
		<string>Skins/Lomo</string>
		<key>isPurchase</key>
		<true/>
		<key>ProductCode</key>
		<string>com.appstudio.X2.3</string>
	</dict>
	<dict>
		<key>FilterColors</key>
		<array>
			<string>255,255,0,1</string>
			<string>255,0,255,1</string>
			<string>0,255,255,1</string>
			<string>255,255,255,1</string>
		</array>
		<key>BaseFilters</key>
		<array>
			<string>FWValenciaFilter</string>
			<string>FW1977Filter</string>
		</array>
		<key>isAdFree</key>
		<false/>
		<key>StoreImage</key>
		<array>
			<string>camera_show_1_1</string>
			<string>camera_show_1_2</string>
			<string>camera_show_1_3</string>
			<string>camera_show_1_4</string>
			<string>camera_show_1_5</string>
		</array>
		<key>StoreCell</key>
		<string>camera_banner_3</string>
		<key>Icon</key>
		<string>camera_cover_4</string>
		<key>Scale</key>
		<string>0.9</string>
		<key>Textures</key>
		<array>
			<string>H1.jpg</string>
			<string>H3.jpg</string>
			<string>H4.jpg</string>
			<string>H8.jpg</string>
			<string>H15.jpg</string>
		</array>
		<key>Filters</key>
		<array>
			<string>FW1977Filter</string>
			<string>F1.acv</string>
			<string>FWAmaroFilter</string>
			<string>FWValenciaFilter</string>
			<string>F11.acv</string>
		</array>
		<key>Bonders</key>
		<array>
			<string>bonder_1</string>
			<string>bonder_2</string>
		</array>
		<key>BlendMode</key>
		<array>
			<string>GPUImageColorBurnBlendFilter</string>
			<string>GPUImageChromaKeyBlendFilter</string>
			<string>GPUImageColorDodgeBlendFilter</string>
			<string>GPUImageDissolveBlendFilter</string>
			<string>GPUImageHueBlendFilter</string>
		</array>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
		<key>Name</key>
		<string>Lomo</string>
		<key>Path</key>
		<string>Skins/Lomo</string>
		<key>isPurchase</key>
		<true/>
		<key>ProductCode</key>
		<string>com.appstudio.X2.3</string>
	</dict>
	<dict>
		<key>FilterColors</key>
		<array>
			<string>255,255,0,1</string>
			<string>255,0,255,1</string>
			<string>0,255,255,1</string>
			<string>255,255,255,1</string>
		</array>
		<key>BaseFilters</key>
		<array>
			<string>FWValenciaFilter</string>
			<string>FW1977Filter</string>
		</array>
		<key>isAdFree</key>
		<false/>
		<key>StoreImage</key>
		<array>
			<string>camera_show_1_1</string>
			<string>camera_show_1_2</string>
			<string>camera_show_1_3</string>
			<string>camera_show_1_4</string>
			<string>camera_show_1_5</string>
		</array>
		<key>StoreCell</key>
		<string>camera_banner_3</string>
		<key>Icon</key>
		<string>camera_cover_4</string>
		<key>Scale</key>
		<string>0.9</string>
		<key>Textures</key>
		<array>
			<string>H1.jpg</string>
			<string>H3.jpg</string>
			<string>H4.jpg</string>
			<string>H8.jpg</string>
			<string>H15.jpg</string>
		</array>
		<key>Filters</key>
		<array>
			<string>FW1977Filter</string>
			<string>F1.acv</string>
			<string>FWAmaroFilter</string>
			<string>FWValenciaFilter</string>
			<string>F11.acv</string>
		</array>
		<key>Bonders</key>
		<array>
			<string>bonder_1</string>
			<string>bonder_2</string>
		</array>
		<key>BlendMode</key>
		<array>
			<string>GPUImageColorBurnBlendFilter</string>
			<string>GPUImageChromaKeyBlendFilter</string>
			<string>GPUImageColorDodgeBlendFilter</string>
			<string>GPUImageDissolveBlendFilter</string>
			<string>GPUImageHueBlendFilter</string>
		</array>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
		<key>Name</key>
		<string>Lomo</string>
		<key>Path</key>
		<string>Skins/Lomo</string>
		<key>isPurchase</key>
		<true/>
		<key>ProductCode</key>
		<string>com.appstudio.X2.3</string>
	</dict>
</array>
</plist>
